__pycache__/
*.py[cod]
*$py.class
.git
.github
.gitignore
.dockerignore
.editorconfig
.vscode
.venv
.log
.mypy_cache
.pre-commit-config
.pytest_cache
.python_version
*.sqlite3
*.env-sample
Dockerfile*
docker-compose*
node_modules
source/logs
source/media
README.md
CONTRIBUTING.md
htmlcov/
.cache
coverage.xml
CODEOWNERS
Makefile
